/* @generated */body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}*,body{font-family:'Hiragino Sans GB',Helvetica,Arial,sans-serif}
body{color:#333;background:#FFF;font-size:12px;line-height:1.5}
th,td{text-align:left;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal}
font{font-size:12px}
a{color:#069;text-decoration:none}
a:hover{text-decoration:underline}
li{list-style:none}
.hide{display:none}
.fix:after{content:".";display:block;height:0;clear:both;visibility:hidden}*html .fix{zoom:1}.fix{display:block;min-height:1%}
.gui-block-close{position:relative;display:inline-block;overflow:hidden;_zoom:1;width:16px;height:16px;line-height:16px;vertical-align:text-bottom;vertical-align:-5px\9;*vertical-align:0;_vertical-align:2px;color:#999;text-indent:-9999px;text-align:center;text-indent:0\9;font-weight:bold;text-decoration:none}
.gui-block-close::before,.gui-block-close::after{display:none\9;content:'';position:absolute;top:50%;left:49%;margin-top:-5px;margin-left:-2px;height:10px;width:3px;background-color:#999}
.gui-block-close::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.gui-block-close::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}.tooltip{padding:7px;background-color:#fff;border:1px solid #d9d9d9;box-shadow:2px 2px 1px rgba(0,0,0,0.05),-2px -2px 1px rgba(0,0,0,0.05),2px -2px 1px rgba(0,0,0,0.05),-2px 2px 1px rgba(0,0,0,0.05);border-radius:1px}.tooltip p{width:160px;white-space:normal;overflow:hidden}.tooltip .tooltip-favorate-desc{font-size:12px;width:163px;word-wrap:break-word;font-family:Microsoft YaHei}.tooltip .tooltip-favorate-desc span{color:#666}.tooltip .tooltip-favorate-desc .high_light{font-family:Microsoft YaHei}b.tooltip-up{border-bottom-color:#b2b196!important}b.tooltip-down{border-top-color:#b2b196!important}b.tooltip-left{border-right-color:#b2b196!important}b.tooltip-right{border-left-color:#b2b196!important}s.tooltip-up{border-bottom-color:#fff!important}s.tooltip-down{border-top-color:#fff!important}s.tooltip-left{border-right-color:#fff!important}s.tooltip-right{border-left-color:#fff!important}

.container{min-width:1000px;overflow:hidden}
.wall{height:230px;width:100%;left:0;}
.wall{background:url(/static/img/banner6.png) no-repeat top center #d5effa}
.walllist{margin:-130px auto 30px;width:1000px;background-color:#FFF}

.wall2{position:relative;padding:0;height:197px;border:1px solid #e9e9e9;background-color:#f5f5f5}
.recommendlist{padding:15px 0;width:638px}
.recommendlist li{float:left;padding:0 0 0 20px;width:139px;height:45px;line-height:25px;overflow:hidden}
.recommendlist li a{color:#4F4F4F}
.recommendlist li img{margin-right:8px;vertical-align:middle;border-radius:3px}
.searchengine-all{position:absolute;z-index:1;bottom:-1px;right:-1px;padding-left:10px;background:url(/static/img/icons.png) no-repeat 4px -470px}
.searchengine{padding:5px 20px;width:320px;height:175px;background-color:#FFF;border-top:1px solid #e9e9e9;border-left:1px solid #e9e9e9}
.searchengine form{padding:15.5px 0;height:30px;line-height:35px}
.searchengine form label{float:left;_display:inline;margin-right:12px;width:112px;height:35px;text-indent:-1024px}
.searchengine-baidu{margin-top:-6px;height:35px;background:url(/static/img/baidu.png) no-repeat  #FFF}
.searchengine-taobao{margin-top:-1px;height:30px;background:url(/static/img/taobao.png) no-repeat  #FFF}
.searchengine-weibo{margin-top:-6px;height:35px;background:url(/static/img/jingdong1.png) no-repeat #FFF}
.searchengine-txt{float:left;padding:4px 0 4px 5px;width:156px;height:17px;line-height:17px;outline:0;background:url(/static/img/icons.png) no-repeat 0 -891px;border:0}
.searchengine-txt:focus{background-position:0 -865px}
.searchengine-submit{float:left;margin-left:-5px;width:23px;height:25px;text-indent:-9999px;cursor:pointer;background:url(/static/img/icons.png) no-repeat -163px -891px;border:0}
.searchengine-submit:hover{background-position:-163px -865px}

.vertical-menu {width: 50px;position:fixed;right:231px;bottom:31.2%;}
.vertical-menu a {background-color: #eee;color:#6C6C6C;display: block;padding: 10px;text-decoration: none}
.vertical-menu a:hover {background-color: #ccc;}

.title-all{margin-top:-7px;border-bottom:3px solid #f3f3f3}
.title{overflow:hidden;margin-top:20px;width:100%;height:45px;line-height:40px;border-bottom:1px solid #d7d7d7}
.title h2{float:right;margin-right:10px;font:500 24px/40px 'Hiragino Sans GB','SimHei',Helvetica,Arial,sans-serif;color:#00C438}
.title-label{float:right;margin-right:10px;width:32px;height:40px;text-indent:-9999px;background:url(/static/img/icons.png) no-repeat -126px 0}
.title-label:hover{background-position:-167px 0}
.title-label.open{background-position:-126px -40px}
.title-label.open:hover{background-position:-167px -40px}

.kind-all{width:100%;height:auto;clear:both}
.kinds{width:1020px}
.kind{float:left;_display:inline;margin-right:20px;padding:20px 0 80px 10px;width:480px;height:60px;color:#666;position:relative}
.kind1{float:left;_display:inline;margin-right:20px;padding:20px 0 80px 10px;width:480px;height:60px;color:#666;position:relative}
.kind h3{float:left;cursor:pointer;margin-top:2px;_margin-top:6px;padding-left:23px;width:89px;line-height:22px;font-weight:bold}
.kind1 h3{float:left;cursor:pointer;margin-top:2px;_margin-top:6px;padding-left:23px;width:89px;line-height:22px;font-weight:bold}
.kind h3 b{display:inline-block;margin:-3px 8px 0 -22px;*margin-top:0;width:14px;height:14px;vertical-align:middle;background:url(/static/img/icons.png) no-repeat;border-radius:20px}
.kind1 h3 b{display:inline-block;margin:-3px 8px 0 -22px;*margin-top:0;width:14px;height:14px;vertical-align:middle;background:url(/static/img/icons.png) no-repeat;border-radius:20px}
.kind h3 s{width:0;height:0;font-size:0;margin-left:5px;vertical-align:middle;border-width:3px;border-style:solid dashed dashed dashed;border-color:#666 transparent transparent transparent}
.kind1 h3 s{width:0;height:0;font-size:0;margin-left:5px;vertical-align:middle;border-width:3px;border-style:solid dashed dashed dashed;border-color:#666 transparent transparent transparent}
.kind ul{height:52px;float:right;width:368px}
.kind1 ul{height:52px;float:right;width:368px}
.kind ul li{float:left;width:92px;height:30px;line-height:26px}
.kind1 ul li{float:left;width:92px;height:30px;line-height:26px}
.kind ul li a{display:inline-block;width:92px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap}
.kind1 ul li a{display:inline-block;width:92px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap}

.kind .more{position:absolute;top:0;left:0;z-index:2}
.kind .more .more-title{background:#f9f9f9;color:#656565;height:28px;width:490px;font-weight:bold;line-height:28px;text-indent:10px;border-radius:3px 3px 0 0;border:1px solid #CCC;border-bottom:0;box-shadow:2px 0 1px #EEE}
.kind .more .more-title a{float:right;margin:6px;*margin-top:-22px}
.more .more-title:hover .gui-block-close:before,.more .more-title:hover .gui-block-close:after{background-color:#8ac73e}
.kind .sites{height:auto;width:480px;padding-left:10px;border:1px solid #CCC;background-color:#FFF;border-radius:0 0 3px 3px;box-shadow:2px 2px 1px #EEE}
.kind .sites li{margin:3px 2px}


.kind .kind-1-1{background:url(/static/img/xinggan.png);width:18px;height:18px}
.kind .kind-1-2{background:url(/static/img/nanyi.png);width:16px;height:16px}
.kind .kind-1-3{background-position:5.5 3.1px}
.kind .kind-1-4{background-position:0 -425px}
.kind .kind-1-5{background-position:0 -440px}
.kind .kind-1-6{background-position:0 -455px}
.kind .kind-1-7{background-position:-15px -380px}
.kind .kind-1-8{background-position:-15px -395px}
.kind .kind-1-9{background-position:-15px -410px}
.kind .kind-1-10{background-position:-15px -425px}
.kind .kind-1-11{background-image:url(/static/static/img/ob1eix.png)}
.kind .kind-1-12{background-position:-15px -455px}
.kind .kind-1-13{background-position:-15px -440px}
.kind1 .kind-2-1{background-position:-30px -380px}
.kind1 .kind-2-2{background-position:-30px -395px}
.kind1 .kind-2-3{background-position:-30px -425px}
.kind1 .kind-2-4{background-position:-30px -410px}
.kind .kind-2-5{background-position:-30px -455px}
.kind .kind-2-6{background-position:-30px -440px}
.kind .kind-2-7{background-position:-45px -380px}
.kind .kind-2-8{background-position:-45px -410px}
.kind .kind-2-9{background-position:-45px -395px}
.kind .kind-2-10{background-position:-45px -425px}
.kind .kind-2-11{background-position:-45px -440px}
.kind .kind-2-12{background-position:-45px -455px}
.kind .kind-3-1{background-position:-60px -380px}
.kind .kind-3-2{background-position:-75px -380px}
.kind .kind-3-3{background-position:-60px -395px}
.kind .kind-3-4{background-position:-75px -395px}
.kind .kind-3-5{background-position:-60px -410px}
.kind .kind-3-6{background-position:-75px -410px}
.kind .kind-3-7{background-position:-60px -425px}
.kind .kind-3-8{background-position:-75px -425px}
.kind .kind-3-9{background-position:-60px -440px}
.kind .kind-3-10{background-position:-75px -440px}
.kind .kind-3-11{background-position:-60px -455px}
.kind .kind-3-12{background-position:-75px -455px}
.kind .kind-3-13{background-position:-90px -455px}
.kind .kind-3-14{background-position:-105px -455px}
.kind .kind-4-1{background-position:-90px -380px}
.kind .kind-4-2{background-position:-105px -380px}
.kind .kind-4-3{background-position:-90px -395px}
.kind .kind-4-4{background-position:-105px -395px}
.kind .kind-4-5{background-position:-90px -410px}
.kind .kind-4-6{background-position:-105px -410px}
.kind .kind-4-7{background-position:-90px -425px}
.kind .kind-4-8{background-position:-105px -425px}
.kind .kind-4-9{background-position:-90px -440px}
.kind .kind-4-10{background-position:-105px -440px}
.kind .kind-5-1{background-position:-120px -380px}
.kind .kind-5-2{background-position:-135px -380px}
.kind .kind-5-3{background-position:-120px -395px}
.kind .kind-5-4{background-position:-135px -395px}
.kind .kind-5-5{background-position:-120px -410px}
.kind .kind-5-6{background-position:-135px -410px}
.kind .kind-5-7{background-position:-120px -425px}
.kind .kind-5-8{background-position:-135px -425px}
.kind .kind-5-9{background-position:-120px -440px}
.kind .kind-5-10{background-position:-135px -440px}
.kind .kind-5-11{background-position:-120px -455px}
.kind .kind-5-12{background-position:-135px -455px}
.kind .kind-5-13{background-position:-150px -455px}
.kind .kind-5-14{background-position:-165px -455px}
.kind .kind-5-15{background-position:-180px -455px}
.kind .kind-5-16{background-position:-195px -455px}
.kind .kind-5-17{background-position:-180px -365px}
.kind .kind-5-18{background-position:-195px -365px}
.kind .kind-6-1{background-position:-150px -380px}
.kind .kind-6-2{background-position:-165px -380px}
.kind .kind-6-3{background-position:-150px -395px}
.kind .kind-6-4{background-position:-165px -395px}
.kind .kind-6-5{background-position:-150px -410px}
.kind .kind-6-6{background-position:-165px -410px}
.kind .kind-6-7{background-position:-150px -425px}
.kind .kind-6-8{background-position:-165px -425px}
.kind .kind-6-9{background-position:-150px -440px}
.kind .kind-6-10{background-position:-165px -440px}
.kind .kind-7-1{background-position:-180px -380px}
.kind .kind-7-2{background-position:-195px -380px}
.kind .kind-7-3{background-position:-180px -395px}
.kind .kind-7-4{background-position:-195px -395px}
.kind .kind-7-5{background-position:-180px -410px}
.kind .kind-7-6{background-position:-195px -410px}
.kind .kind-7-7{background-position:-180px -425px}
.kind .kind-7-8{background-position:-195px -425px}
.kind .kind-7-9{background-position:-180px -440px}
.kind .kind-7-10{background-position:-195px -440px}


.logo a{position:absolute;right:231px;bottom:31.2%;background:url(/static/img/shoucang.png)}


.bottom{position:relative;z-index:2;line-height:35px;text-align:center;color:#CCC;background-color:#FFF;border-top:#CCC 1px solid}
